<ion-list>
  <ion-text><b>{{specificInformation}}</b></ion-text>

  <ion-item>
    <ion-label position="floating">{{informationLabel}} 1 ({{textLabel}})</ion-label>
    <ion-input
            [placeholder]="textInformationDesc + ' 1'"
            type="text">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{informationLabel}} 2 ({{textLabel}})</ion-label>
    <ion-input
            [placeholder]="textInformationDesc + ' 2'"
            type="text">
    </ion-input>
  </ion-item>

  <ion-item lines="none" (click)="addFile()">
    <ion-label position="floating">{{informationLabel}} 3 ({{fileLabel}})</ion-label>
    <u>
      <ion-input
              [value]="selectedFile"
              type="text"
              readonly>
        <ion-icon name="folder"></ion-icon>
      </ion-input>
    </u>
  </ion-item>

  <ion-item lines="none" (click)="addImages()">
    <ion-label position="floating">{{informationLabel}} 4 ({{photoLabel}})</ion-label>
    <u>
      <ion-input
              [value]="photoDesc + ' (2)'"
              type="text"
              readonly i18n>
        <ion-icon name="camera"></ion-icon>
      </ion-input>
    </u>
    <ion-row>
      <ion-img *ngFor="let path of paths" [src]="path"></ion-img>
    </ion-row>
  </ion-item>

</ion-list>
