<ion-toolbar>
    <ion-buttons slot="primary">
        <ion-button>
            <ion-icon
                    slot="icon-only"
                    ios="ellipsis-horizontal"
                    md="ellipsis-vertical"
                    class="three-dots" style="visibility: hidden;"></ion-icon>
        </ion-button>
    </ion-buttons>
    <div>
        <img src="/assets/images/sense_city_logo_green.png" alt="Sense City logo.">
    </div>
</ion-toolbar>

<ion-content>
    <div style="margin: 10px;"></div>

    <ion-row style="padding: 4px;">
        <app-feedback-card></app-feedback-card>
    </ion-row>

    <div style="margin: 20px;"></div>

    <ion-row>
        <app-more-card image="/assets/svg-images/more/more_chat.svg"
                       [title]="discussions" routeTarget="/consultations" class="card-margins"
                       *ngIf="false">
        </app-more-card>

        <app-more-card image="/assets/svg-images/more/more_neighborhood.svg"
                       [title]="myNeighborhood" routeTarget="/neighborhood" class="card-margins"
                       *ngIf="false">
        </app-more-card>

        <a [href]="city.url" disabled style="text-decoration: none;" class="card-margins">
            <app-more-card image="/assets/svg-images/more/more_map.svg" [title]="map" routeTarget="#">
            </app-more-card>
        </a>


        <app-more-card image="/assets/svg-images/more/more_profile.svg"
                       [title]="profile" routeTarget="/profile" class="card-margins">
        </app-more-card>

        <a [href]="'https://sense.city/terms.html'" disabled style="text-decoration: none;" class="card-margins">
            <app-more-card image="/assets/svg-images/more/more_policy.svg" [title]="policy" routeTarget="#">
            </app-more-card>
        </a>

    </ion-row>
</ion-content>
