@import "../../../theme/variables";

ion-img {
  margin-left: 20px;
  width: 5%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  color: $light-grey-text;
}

.header-row {
  margin-top: 20px;
  margin-bottom: 14px;
}
