<app-back-arrow-header [title]="discussions"></app-back-arrow-header>

<ion-item>
    <ion-label>{{orderBy}}</ion-label>
    <ion-select
            [value]="'newest'"
            interface="popover"
            (ionChange)="setSorting($event.target.value)"
            [interfaceOptions]="{cssClass: 'options-popover-class'}">
        <ion-select-option value="newest">{{newest}}</ion-select-option>
        <ion-select-option value="popular">{{popular}}</ion-select-option>
        <ion-select-option value="notifications_on">{{selected}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-content>
    <div *ngFor="let consultation of consultations">
        <app-consultation-card *ngIf="consultation.follows|| !notificationsOn" [consultation]="consultation">
        </app-consultation-card>
    </div>

</ion-content>

