<app-back-arrow-header [title]="recommendationsTxt" [modalController]="modalController"></app-back-arrow-header>

<div class="general-text">{{otherRequestsTxt}}</div>

<div class="horizontal-line"></div>

<ion-content>
    <div *ngIf="!loading">
        <app-recommendation-card
                *ngFor="let recommendation of recommendations" [recommendation]="recommendation"
                (click)="cardClicked(recommendation)">
        </app-recommendation-card>
    </div>

    <div *ngIf="loading" class="spinner-div">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="!loading">
        <ion-fab-button (click)="cardClicked(undefined)">
            <ion-icon name="chevron-back-sharp"></ion-icon>
            <span class="fab-span">{{noTxt}}</span>
        </ion-fab-button>
    </ion-fab>
</ion-content>

