<ion-item lines="{{isLast ? 'none' : 'full'}}" (click)="navigateToDetailsScreen()" class="card-colors">
  <ion-row style="width: 100%">
    <ion-col size="10">
      <div class="title-div">
        <span class="title-span">{{request.subServiceName + ' '}}</span>
        <span class="code-span">{{'(#' + request.id + ')'}}</span>
      </div>

      <div class="body-div">
        <b class="text-color">{{getStatusText(request.status)}}</b>
      </div>

      <div class="body-div bottom-div">
        {{request.cityAddress}}
      </div>
    </ion-col>

    <ion-col class="icon-col" size="2">
      <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>
