<ion-list>
  <ion-text class="title-text"><b>{{submit}}</b></ion-text>

  <ion-item lines="none">
    <ion-text class="body-text" i18n>
      {{beforeNameText}}<b>Συροκώστας Κωνσταντίνος</b> {{submitAdminRequest1}} <b>ΑΑ 123456</b> {{submitAdminRequest2}} <b>{{submitAdminRequest3}}</b>
      {{submitAdminRequest4}} <b>{{submitAdminRequest5}}</b> {{submitAdminRequest6}} <b>{{submitAdminRequest7}}</b>.
      <br><br>
      {{submitAdminRequest8}} <b>konstantinos.syrokostas@gmail.com</b>.
    </ion-text>
  </ion-item>

</ion-list>

<ion-slides pager="true" [options]="{initialSlide: 0, speed: 400}">
  <ion-slide *ngFor="let i of [0, 1]">
    <div>
      <ion-icon [name]="i % 2 === 0 ? 'camera-outline' : 'document-outline'"></ion-icon>
      <br>
      <ion-text>{{i % 2 === 0 ? nameOfPhotoValue : nameOfFileValue}}</ion-text>
    </div>
  </ion-slide>
</ion-slides>

<div style="margin-top: 30px;">
  <ion-item lines="none" class="short_item_no_ripple">
    <ion-label>
      <p class="smaller-font" i18n>
        {{acceptTerms1}}<a href="https://sense.city/terms.html">{{acceptTerms2}}</a>{{acceptTerms3}}
      </p>
    </ion-label>
    <ion-checkbox slot="start" checked="true"></ion-checkbox>
  </ion-item>
</div>
