<ion-toolbar>
    <app-details-bottom-bar
            [isHidden]="false"
            [text]="'Σχολια (' + comments.length + ')'"
            [twoLines]="false"
            (click)="dismissModal()">
    </app-details-bottom-bar>
</ion-toolbar>


<ion-content>
    <app-consultation-comment-card
            *ngFor="let comment of comments"
            [comment]="comment">
    </app-consultation-comment-card>
</ion-content>


<app-consultation-comment-text-bar
        [userName]="userName"
        [isReply]="false"
        (commentEmitter)="addComment($event)">
</app-consultation-comment-text-bar>
