<ion-toolbar>
    <app-details-bottom-bar
            [isHidden]="false"
            [text]="'Σχολια (' + comments.length + ')'"
            [twoLines]="false"
            (click)="dismissModal()">
    </app-details-bottom-bar>
</ion-toolbar>


<ion-content>
    <app-consultation-comment-card
            *ngFor="let comment of comments"
            [comment]="comment">
    </app-consultation-comment-card>
</ion-content>


<div style="width: 100%; height: 1px; background-color: #DCDEDB; margin: 0; padding: 0;"></div>

<ion-item lines="none">
    <ion-card>
        <ion-input placeholder="Σχολιο"
                   [(ngModel)]="userComment">
        </ion-input>
    </ion-card>
    <ion-img src="/assets/svg-images/right-arrow.svg" slot="end" id="userComment"
             (click)="addComment()">
    </ion-img>
</ion-item>
