<app-back-arrow-header [title]="newRequest"></app-back-arrow-header>

<ion-content style="height: 100%">
    <div ngSwitch="{{currentStep}}">
        <app-technical-form-subcategory
                *ngSwitchCase="0" [service]="request.service"
                (canProceedEvent)="setCanProceed($event)"
                [(category)]="request.category">
        </app-technical-form-subcategory>
        <app-technical-form-info *ngSwitchCase="1"></app-technical-form-info>
        <app-technical-form-map *ngSwitchCase="2"></app-technical-form-map>
        <app-technical-form-submit *ngSwitchCase="3"></app-technical-form-submit>
    </div>
</ion-content>

<app-form-stepper
        [steps]="4" [canProceed]="canProceed"
        (currentStepEvent)="setCurrentStep($event)"
        class="bottom-stepper">
</app-form-stepper>

