<div *ngFor="let service of technicalServices">
  <app-technical-item text="{{ service.name }}" image="{{ service.icon }}"
                      routerLink="/technical-form" routerLinkActive="active"
                      [queryParams]="{
                        service_id: service.id,
                        service_name: service.name,
                        service_icon: service.icon,
                        service_translation_key: service.translationKey
                      }">
  </app-technical-item>
</div>


