<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon
              slot="icon-only"
              ios="ellipsis-horizontal"
              md="ellipsis-vertical"
              class="three-dots" style="visibility: hidden;"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div>
    <img src="/assets/images/sense_city_logo_green.png" alt="Sense City logo.">
  </div>
</ion-toolbar>


<!--(ionChange)="servicesSegmentChanged($event)"-->
<ion-segment [value]="0" swipeGesture="true" (ionChange)="neighborhoodSegmentChanged($event)">
  <ion-segment-button [value]="0">
    {{neighborhood}}
  </ion-segment-button>
  <ion-segment-button [value]="1">
    {{messages}}
  </ion-segment-button>
</ion-segment>

<app-divider *ngIf="neighborhoodSegment === 1"></app-divider>

<ion-content>
  <div *ngIf="(neighborhood$ | async) as neighborhood; else neighborhood_loading_content">
    <app-neighborhood-map
            *ngIf="neighborhoodSegment === 0"
            [neighborhood]="neighborhood"
            (locationChange)="onLocationChange($event)"
            (registerNeighborhood)="registerNeighborhood()"
            (unregisterNeighborhood)="unregisterNeighborhood()">
    </app-neighborhood-map>
  </div>
  <ng-template #neighborhood_loading_content>
    <div class="full-screen-center-div">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ng-template>

  <app-neighborhood-messages *ngIf="neighborhoodSegment === 1"></app-neighborhood-messages>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  color="light" class="info-fab" (click)="showInfo()">
      <ion-icon name="information" class="info-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
