<ion-tabs>
  <ion-tab-bar slot="bottom" selected-tab="2">
    <ion-tab-button tab="main-tab">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>{{home}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests-tab">
      <ion-icon name="warning-sharp"></ion-icon>
        <ion-label>{{requests}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications-tab" *ngIf="false">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>{{notifications}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="neighborhood-tab" *ngIf="true">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>{{myNeighborhood}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more-tab">
      <ion-icon name="grid"></ion-icon>
      <ion-label>{{more}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
