div {
  margin-top: 10px;
  margin-left: 24px;
  margin-right: 16px;
  margin-bottom: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 4px;
}

.body-text {
  margin-left: 4px;
  margin-bottom: 0;
}

.replies-text {
  color: var(--ion-color-primary);
  font-size: small;
  text-align: right;
}
