@import "../../../theme/variables";

.instructions-div{
  margin-top: 18px;
  margin-bottom: 0;
  padding-right: 32px;
  padding-left: 38px;
  font-size: 14px;
  color: $dark-grey;
}

.digits-row {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 90px;
  background-color: var(--ion-background-color);
}

.digit-input-div {
  width: 70px;
  height: 90px;
  background-color: var(--ion-background-color);
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

.digit-ion-input {
  height: 90px;
  font-size: 30px;
  text-align: center;
  width: 70px;
}

.button-row {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--ion-background-color);
}

.verify-button {
  --border-radius: 35px;
  margin: auto;
  text-transform: none;
  font-size: medium;
  vertical-align: center;
  font-weight: normal;
  width: 150px;
  height: 40px;
}

.message-image {
  margin-right: auto;
  margin-left: auto;
  margin-top: 130px;
  padding-right: 6px;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
