<ion-list>
  <ion-text><b>{{basicInformation}}</b></ion-text>

  <ion-item *ngFor="let element of elements" lines="insert">
    <ion-label position="floating">{{element.label}}</ion-label>
    <ion-input
            [value]="element.value"
            [type]="element.inputType">
    </ion-input>
  </ion-item>

</ion-list>

<br>

<ion-item lines="none" class="short_item_no_ripple">
  <ion-label>
    <p class="smaller-font">
      {{saveChanges}}
    </p>
  </ion-label>
  <ion-checkbox slot="start" checked="true"></ion-checkbox>
</ion-item>
