<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon
              slot="icon-only"
              ios="ellipsis-horizontal"
              md="ellipsis-vertical"
              class="three-dots" style="visibility: visible;"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div>
    <img src="/assets/images/sense_city_logo_green.png" alt="Sense City logo.">
  </div>
</ion-toolbar>

<ion-segment [value]="typeOfService" swipeGesture="true" (ionChange)="servicesSegmentChanged($event)">
  <ion-segment-button [value]="0">
    Τεχνικες Υπ.
  </ion-segment-button>
  <ion-segment-button [value]="1">
    Διοικητικες Υπ.
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="typeOfService">
  <ion-searchbar *ngSwitchCase="1" (ionInput)="onSearch($event)"></ion-searchbar>
</div>

<div style="width: 100%; height: 1px; background-color: #DCDEDB; margin: 0; padding: 0;"></div>

<ion-content>

  <div [ngSwitch]="typeOfService">
    <app-technical-services-list *ngSwitchCase="0"></app-technical-services-list>
    <app-administrative-services-list *ngSwitchCase="1" [query]="query"></app-administrative-services-list>
  </div>


</ion-content>
