ion-item {
  --ion-background-color: #ffffff;
}

.spacing {
  padding-top: 12px;
  padding-bottom: 12px;
}

.stars-div {
  padding-top: 6px;
}

.starting-image {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 22px;
}
