<!-- The list is used to set the position of the header. -->
<ion-list>
  <ion-list-header class="header">
    <ion-label>{{submit}}</ion-label>
  </ion-list-header>
</ion-list>

<app-technical-form-image
        defaultImage="../../assets/svg-images/no_photo.svg" [showHeader]="false" [imageHeight]="150"
        [path]="finalRequest.image" (pathChange)="imageChange.emit($event)">
</app-technical-form-image>

<div class="center_short">

  <div style="margin-top: 25px;">
    <p>
      <b>{{category}}:</b>
      <br>
      {{finalRequest.service.name}}
    </p>

    <p>
      <b>{{request}}:</b>
      <br>
      {{finalRequest.subService.name}}
    </p>

    <p>
      <b>{{comments}}:</b>
      <br>
      {{getUserComments()}}
    </p>
  </div>

</div>

<div style="margin-top: 30px;">
  <ion-item lines="none" class="short_item_no_ripple">
    <ion-label><p class="smaller-font">{{namedRequest}}</p></ion-label>
    <ion-checkbox slot="start" [(ngModel)]="namedClicked" (ionChange)="onNamedClickChanged()"></ion-checkbox>
  </ion-item>


  <ion-item lines="none" class="short_item_no_ripple">
    <ion-label>
      <p class="smaller-font">
        {{acceptTerms1}}<a href="https://sense.city/terms.html">{{acceptTerms2}}</a>{{acceptTerms3}}
      </p>
    </ion-label>
    <ion-checkbox slot="start" checked="true"></ion-checkbox>
  </ion-item>
</div>


