<!-- The list is used to set the position of the header. -->
<ion-list>
  <ion-list-header class="header">
    <ion-label>Υποβολη</ion-label>
  </ion-list-header>
</ion-list>

<app-technical-form-image
        defaultImage="../../assets/svg-images/no_photo.svg" [showHeader]="false" [imageHeight]="150">
</app-technical-form-image>

<div class="center_short">

  <div style="margin-top: 25px;">
    <p>
      <b>Κατηγορια:</b>
      <br>
      Καθαριοτητα
    </p>

    <p>
      <b>Αιτημα:</b>
      <br>
      Κομμενα Κλαδια
    </p>

    <p>
      <b>Σχολια:</b>
      <br>
      Architecto commodi quod non...
    </p>
  </div>

</div>

<div style="margin-top: 30px;">
  <ion-item lines="none" class="short_item_no_ripple">
    <ion-label><p class="smaller-font">Επώνυμη αναφορά</p></ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>


  <ion-item lines="none" class="short_item_no_ripple">
    <ion-label>
      <p class="smaller-font">
        Αποδέχομαι του <a href="https://sense.city/terms.html">όρους χρήσης</a> του SenseCity.
      </p>
    </ion-label>
    <ion-checkbox slot="start" checked="true"></ion-checkbox>
  </ion-item>
</div>


