<app-back-arrow-header [title]="profile"></app-back-arrow-header>

<ion-content>
    <ion-list>

        <form>
            <div *ngFor="let element of elements">

                <ion-item lines="insert">
                    <ion-label position="floating" class="grey-label">{{element.label}}</ion-label>
                    <ion-input
                            [value]="element.value"
                            [type]="element.inputType"
                            (focusout)="onFocusLost(element.key, $event.target['value'])">
                    </ion-input>
                </ion-item>

                <div *ngIf="element.key === emailKey || element.key === phoneKey">
                    <div *ngIf="(isActive$ | async) as isActive" [class]="isActive[element.key] ? '' : 'negative-warning-div'">
                        {{isActive[element.key] ? '' : notVerified1 + element.label.toLowerCase() + notVerified2}}
                        <u *ngIf="!isActive[element.key]" class="negative-link" (click)="presentVerifyModal(element)">
                            {{verify + '.'}}
                        </u>
                    </div>
                </div>

            </div>
        </form>

        <ion-item (click)="presentCitiesModal()">
            <ion-label position="stacked">{{cityTitle}}</ion-label>
            <ion-text>{{city.name}}</ion-text>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{languageTitle}}</ion-label>
            <ion-select
                    interface="popover"
                    [interfaceOptions]="{cssClass: 'options-popover-class'}"
                    [(ngModel)]="language"
                    [value]="language"
                    (ionChange)="changeLanguage()">
                <ion-select-option value="el">Ελληνικα</ion-select-option>
                <ion-select-option value="en">English</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

</ion-content>

<app-divider></app-divider>

<ion-item lines="none" class="short_item_no_ripple">
  <ion-label>
    <p class="smaller-font">
      {{acceptTerms1}}<a href="https://sense.city/terms.html">{{acceptTerms2}}</a>{{acceptTerms3}}
    </p>
  </ion-label>
  <ion-checkbox slot="start" checked="true"></ion-checkbox>
</ion-item>

<div>
  Version: 1.4.1
</div>

<br>
