<!-- The list is used to set the position of the header. -->
<ion-list class="list">
    <ion-list-header class="header">
        <ion-label>{{details}}</ion-label>
    </ion-list-header>
</ion-list>

<app-technical-form-image
        defaultImage="../../assets/images/add_photo.png" [showHeader]="true" [imageHeight]="200"
        [(imageDataUrl)]="imageDataUrl" (imageDataUrlChange)="imageDataUrlChange.emit($event)">
</app-technical-form-image>

<br><br>

<div class="center_long" style="height: 150px">
    <div class="small_header">{{additionalDescription}}</div>
    <ion-textarea [placeholder]="comments" rows="7" [(ngModel)]="userComments" (ionChange)="onCommentChange()">
    </ion-textarea>
</div>

<br><br>
