<div style="width: 100%; height: 1px; background-color: #DCDEDB; margin: 0; padding: 0;"></div>
<ion-list>
  <app-request-card *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
                    [isLast]="i === 15" [completed]="completed">
<!--                    routerLink="/request-details" routerLinkActive="active"-->
<!--                    [queryParams]="{-->
<!--                      completed: completed-->
<!--                    }">-->
  </app-request-card>
</ion-list>
