@import "../../../theme/variables";

ion-list {
  padding: 0;
}

.full-screen-center-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grey-text-div {
  color: $dark-grey;
  padding-bottom: 16px;
  text-align: center;
}

.link-div {
  color: var(--ion-color-primary);
  padding-bottom: 48px;
  text-align: center;
}
