<app-back-arrow-header title="Αιτηση"></app-back-arrow-header>

<ion-content>
    <ion-img src="../../assets/svg-images/bin_green.svg" class="details_top_image"></ion-img>
    <ion-text class="center_text"><h4 style="margin-bottom: 0;" i18n>{{type}}</h4></ion-text>
    <ion-text class="center_text"><p style="margin-top: 0;" i18n>{{subtype}}</p></ion-text>

    <div>
        <ion-text><p class="details_header" i18n>{{code}}</p></ion-text>
        <ion-text><p class="details_body">#47123</p></ion-text>
    </div>

    <div>
        <ion-text><p class="details_header" i18n>{{status}}</p></ion-text>
        <ion-text><p class="details_body" i18n>{{statusValue}}</p></ion-text>
    </div>

    <div>
        <ion-text><p class="details_header" i18n>{{reported}}</p></ion-text>
        <ion-text><p class="details_body" i18n>{{reportDate}}</p></ion-text>
    </div>

    <div>
        <ion-text><p class="details_header" i18n>{{responsible}}</p></ion-text>
        <ion-text><p class="details_body" i18n>{{department}}</p></ion-text>
    </div>

    <div>
        <ion-text><p class="details_header" i18n>{{comments}}</p></ion-text>
        <ion-text><p class="details_body" i18n>{{commentValue}}</p></ion-text>
    </div>

    <div class="details_rate_button_container">
        <ion-button *ngIf="completed"
                    routerLink="/request-rating" routerLinkActive="active"
                    [queryParams]="{ stars: '-1'}">
            {{rating}}
        </ion-button>
    </div>

    <app-details-bottom-bar
            [text]="locationName"
            [isHidden]="true"
            [twoLines]="true"
            (click)="presentMapModal()">
    </app-details-bottom-bar>

</ion-content>
