<ion-toolbar>
    <ion-buttons slot="primary">
        <ion-button (click)="presentPopover($event)">
            <ion-icon
                    slot="icon-only"
                    ios="ellipsis-horizontal"
                    md="ellipsis-vertical"
                    class="three-dots" style="visibility: visible;"></ion-icon>
        </ion-button>
    </ion-buttons>
    <div>
        <img src="/assets/images/sense_city_logo_green.png" alt="Sense City logo.">
    </div>
</ion-toolbar>

<ion-item>
    <ion-label i18n>{{notificationsText}}</ion-label>
    <ion-select
            [value]="selectedType"
            interface="popover"
            (ionChange)="setSelectedType($event.target.value)"
            [interfaceOptions]="{cssClass: 'options-popover-class'}">
        <ion-select-option value="All">{{allText}}</ion-select-option>
        <ion-select-option value="{{notificationType.REQUEST}}">{{requestsText}}</ion-select-option>
        <ion-select-option value="{{notificationType.NEIGHBORHOOD}}">{{neighborhoodText}}</ion-select-option>
        <ion-select-option value="{{notificationType.COMMENT}}">{{commentsText}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-content>

    <div *ngFor="let notification of notifications">
        <app-notification-card
                *ngIf="shouldShowNotification(notification)"
                [notification]="notification">
        </app-notification-card>
    </div>

</ion-content>

