@import "../../../theme/variables";
@import "../../view-utils/toolbar";

p {
  color: var(--ion-text-color);
  text-align: center;
}

ion-card {
  width: 150px;
  height: 110px;
  border-radius: 15px;
}

ion-card-content {
  width: 150px;
  height: 110px;
  padding: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

ion-img {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.city-card-text {
  color: var(--ion-color-primary);
  font-size: large;
}
