<app-back-arrow-header [title]="newRequest"></app-back-arrow-header>

<ion-content>

  <div [ngSwitch]="currentStep">
    <app-administrative-form-basic-info *ngSwitchCase="0"></app-administrative-form-basic-info>
    <app-administrative-form-specific-info *ngSwitchCase="1"></app-administrative-form-specific-info>
    <app-administrative-form-submit *ngSwitchCase="2"></app-administrative-form-submit>
  </div>

</ion-content>

<app-form-stepper [steps]="3" [canProceed]="true" [currentStep]="currentStep"
                  (currentStepEvent)="setNextStep($event)"
                  style="position: absolute; bottom: 0; width: 100%">
</app-form-stepper>
