@import "../../../theme/variables";

.snack-bar-div {
  width: 100%;
  min-height: 50px;
  background-color: $dark-red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.text-span {
  padding-left: 16px;
  padding-right: 8px;
  font-size: 12px;
}

.button-span {
  padding-left: 8px;
  padding-right: 30px;
  font-size: 14px;
}
